<a href="https://colab.research.google.com/github/gayathirysubramanian-star/Python-/blob/main/Intro_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Creating a data frame

In [1]:
import pandas as pd
import numpy as np

In [3]:
#option 1 with numpy and list
df = np.array([[2,3],[3,4],[6,7]])
df

array([[2, 3],
       [3, 4],
       [6, 7]])

In [7]:
#creating using pandas
df = pd.DataFrame(df,index = ['row1','row2','row3'],columns = ['col1','col2'])

In [8]:
df

      col1  col2
row1     2     3
row2     3     4
row3     6     7

In [9]:
#option2 with array list
data = [[2,3],[3,4],[6,7]]
df = pd.DataFrame(data,index = ['row1','row2','row3'],columns = ['col2','col2'])
df

      col2  col2
row1     2     3
row2     3     4
row3     6     7

In [11]:
#option 3 using dictionary
states = ['Arizona','California','Texas','Florida']
population = [345983476954, 287462598,32648724,246589475]

In [12]:
dict_states = {'States':states,'Population': population}

In [13]:
df = pd.DataFrame(dict_states)

In [14]:
df

       States    Population
0     Arizona  345983476954
1  California     287462598
2       Texas      32648724
3     Florida     246589475

In [15]:
df_exams = pd.read_csv('/content/StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [16]:
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [18]:
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [20]:
n = 10
df_exams.tail(n)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [21]:
df_exams.head(n)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [25]:
df_exams.shape

(1000, 8)

In [28]:
pd.set_option('display.max_rows',1000)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

Attributes

In [29]:
df_exams.shape

(1000, 8)

In [30]:
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [31]:
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [33]:
df_exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

Methods

In [34]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [35]:
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [36]:
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

from matplotlib import pyplot as plt
_df_0['math score'].plot(kind='hist', bins=20, title='math score')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_1['reading score'].plot(kind='hist', bins=20, title='reading score')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_2['writing score'].plot(kind='hist', bins=20, title='writing score')
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_3.plot(kind='scatter', x='math score', y='reading score', s=32, alpha=.8)
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_4.plot(kind='scatter', x='reading score', y='writing score', s=32, alpha=.8)
plt.gca().spines[['top', 'right',]].set_visible(False)

from matplotlib import pyplot as plt
_df_5['math score'].plot(kind='line', figsize=(8, 4), title='math score')
plt.gca().spines[['top', 'right']].set_visible(False)

from matplotlib import pyplot as plt
_df_6['reading score'].plot(kind='line', figsize=(8, 4), title='reading score')
plt.gca().spines[['top', 'right']].set_visible(False)

from matplotlib import pyplot as plt
_df_7['writing score'].plot(kind='line', figsize=(8, 4), title='writing score')
plt.gca().spines[['top', 'right']].set_visible(False)

Build-in functions

In [37]:
len(df_exams)

1000

In [40]:
max(df_exams.index)

999

In [42]:
min(df_exams.index)

0

In [43]:
type(df_exams)

pandas.core.frame.DataFrame

In [44]:
round(df_exams,2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

Selecting one column

In [46]:
pd.reset_option('display.max_rows')

In [47]:
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [48]:
type(df_exams['gender'])

pandas.core.series.Series

In [49]:
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [51]:
 df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

Selecting two or more columns

In [53]:
df_exams[['gender','writing score']]

     gender  writing score
0    female             74
1    female             88
2    female             93
3      male             44
4      male             75
..      ...            ...
995  female             95
996    male             55
997  female             65
998  female             77
999  female             86

[1000 rows x 2 columns]

In [54]:
type(df_exams[['gender','writing score']])

pandas.core.frame.DataFrame

In [55]:
df_exams[['gender','math score','writing score','reading score']]

     gender  math score  writing score  reading score
0    female          72             74             72
1    female          69             88             90
2    female          90             93             95
3      male          47             44             57
4      male          76             75             78
..      ...         ...            ...            ...
995  female          88             95             99
996    male          62             55             55
997  female          59             65             71
998  female          68             77             78
999  female          77             86             86

[1000 rows x 4 columns]

Adding a new column

In [57]:
df_exams['language score']  = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

In [58]:
import numpy as np

In [62]:
language_score = np.arange(0,1000)

In [63]:
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [64]:
language_score = np.random.randint(1, 100, size = 1000)

In [65]:
df_exams['language score'] = language_score

In [66]:
#creating random float numbers
np.random.uniform(1,100,size = 1000)

array([19.25044073, 13.92696312, 88.06797394, 14.49609585, 72.47396334,
       22.28291527, 62.14704337, 95.12500555, 40.03352306, 27.69849976,
       18.58313643, 75.62904662, 22.13407717, 15.98934802, 15.56517828,
       63.50911489, 63.95640961, 97.37406066, 35.79793648, 72.03461862,
       75.89840437,  4.27609262, 24.01012713, 84.77351893, 81.03978673,
        9.96747423, 31.30477719, 15.16750333, 60.85727711, 94.13535181,
       56.02123953, 38.58167126, 32.51419199, 81.88016166,  2.83094854,
       83.81992035, 39.35134321, 10.2914263 , 83.31287434,  5.11850143,
        1.83244861, 27.00716008,  3.86408958, 63.6516187 ,  3.72009783,
       47.35382034, 20.72954505, 14.4198408 , 25.07615522, 28.88289555,
       15.00991082, 78.2603509 , 48.5565973 , 13.09808599, 65.45538958,
        3.07273608, 91.74070221, 76.89978195,  8.88048122, 27.9335235 ,
        5.63517262, 12.47153391, 77.43482849, 18.38606864, 33.33316298,
       98.31714333, 63.89583735, 29.9956901 , 10.21360611, 70.37686357,
       89.90301193, 43.4545728 , 26.11467426, 65.36839971, 43.68707326,
       90.23708763,  5.88262727, 42.24310551, 79.60839043, 87.73835509,
       48.03994705, 43.97122993, 51.51755739, 26.14646771, 21.28267598,
       97.06288486, 21.53473995, 17.52601782, 39.84988937, 35.60217692,
       10.2735868 , 14.99526195, 96.21695691, 60.9824236 ,  3.56381765,
       97.41255033, 51.29951314, 57.25174269, 52.90287133, 18.90378677,
       66.18959773, 14.62887381, 80.48006826, 60.05479007, 89.72311321,
       75.97667472, 75.22559108, 77.00483245, 59.95723759, 58.31314671,
       20.61601702, 55.8876703 , 90.60218365,  5.57953326, 86.95129127,
       77.06895   , 36.82644081, 33.06381653, 92.95450864, 26.84982199,
       93.85702652,  3.95844426, 63.59835792, 99.35348438,  2.53576553,
       53.05546831, 65.13284923, 10.71872352, 74.16606668, 79.36918959,
       59.50359704, 65.7787158 , 92.17748634, 52.20070089, 92.27586437,
       25.6275747 ,  3.28541758, 92.8168061 , 49.37683323, 24.36649191,
       25.46769915, 62.66656228, 33.93022525, 66.16316952, 28.74581306,
       79.84470686, 16.97627087, 43.202263  , 18.59847088, 83.06762526,
        8.39115962,  1.05577215, 45.15666187, 23.15982477,  7.04964067,
       44.39790801, 76.26561296, 36.4743195 , 59.69618479, 51.70324198,
       96.08629231, 53.97337673, 55.329765  ,  6.43240747, 58.53861044,
       16.42934966, 34.06234373, 71.94354717, 31.07975523, 73.13024554,
       51.91129884, 78.6421099 , 82.7740855 , 87.44607295, 37.53353327,
       51.84827015, 30.40755463, 51.21291709, 95.4677683 , 79.433695  ,
       63.48131819, 28.36754534, 84.09619079, 10.79553317, 40.53908566,
       97.77192161,  2.36171986, 52.21422962, 13.55719005,  2.00299624,
       28.01698136, 25.63888336, 44.60855059, 94.16682168, 99.81563171,
       53.72506439, 95.06349698, 95.85353377, 95.04315568, 58.77024944,
       58.65399556, 62.00581774, 41.75160486, 70.43912444, 29.19631664,
       39.80920586, 74.91284039, 76.47417459, 90.06995443,  7.10264524,
       94.6841667 , 96.67166982, 52.05460387, 77.19273214, 37.6707629 ,
       45.99339196, 12.19725621, 45.90797935, 18.41243383, 39.61662873,
       63.68198958, 65.33075454, 29.29942287, 77.45437797, 35.47249903,
       80.72285622, 16.09664401, 29.98563766, 98.58231129, 86.84667121,
       32.7362351 , 90.6954001 , 16.99592087, 15.94410482, 22.55084841,
       63.94597241, 15.186369  , 63.38148457, 33.33258177, 90.40531568,
       50.91353601, 19.51073246, 75.95104623, 22.60411869, 76.08685161,
       38.24052107, 64.59669144, 61.42136536, 93.27150079, 69.30145431,
        3.84432934, 19.35131158, 72.8381394 , 16.691912  , 63.24332879,
       79.29571536,  2.55635014, 97.91244604, 74.97160603,  8.70318087,
       75.21285984, 25.30409497, 36.34461885, 12.11116295, 31.44800228,
       72.53896719, 54.36073696, 29.81661107, 33.78911288, 44.34183613,
       86.41475194, 35.64153149, 64.47256079, 97.6431137 , 48.36867605,
       26.22416037, 84.69665819, 34.43846104, 44.291576  , 52.9752949 ,
       52.16637765, 80.92928688, 97.28178718, 83.80083114, 94.10906838,
       59.89064332, 62.380795  , 69.56632016, 75.88329063, 28.44768179,
       10.64003066, 15.80580616, 15.05894092, 71.73585094, 87.26643164,
       41.11296773, 77.72936235, 21.32847638, 52.65199888,  1.45945761,
       14.55161338, 51.89727443, 47.21618184, 65.64635031, 85.06905394,
       70.49612416, 68.29569544, 17.5796111 , 89.54341648, 10.51461223,
       21.90341429, 27.90301836, 49.60804791, 91.7351141 , 75.25696426,
       72.34020877, 54.19134796, 83.79889202, 60.46098477, 44.06858098,
       12.1197657 , 74.69958425, 53.96169743, 41.64467763, 50.56907152,
       41.4835201 , 21.22403472, 21.86363898, 78.34516809, 92.60904183,
       61.5436012 , 33.35002119, 51.3477947 ,  2.06872941, 47.05208946,
       91.07158246, 75.50906344, 13.08926591, 79.90177008, 54.45236296,
       12.09430932, 16.9861415 , 56.60898142, 39.78656408, 16.80767714,
       85.48144431, 53.43128801, 51.62244606, 40.96940035, 32.43059254,
       57.1372694 , 54.45461257, 81.86334282, 55.06780677,  8.52382312,
       53.54697074,  5.60152217, 28.93537332, 66.94754596, 33.60430429,
        4.77005573,  7.6083739 , 24.37348396, 97.6586935 , 21.66136462,
       86.80229647, 85.18208263, 29.20191296, 83.17097034, 19.14371454,
        8.11958713, 79.00159311, 49.42571461,  5.47703781, 86.55760576,
       37.0623847 ,  8.36123236, 15.90631256, 33.38480789, 47.92873477,
       81.90547049, 94.7826492 ,  9.44758813, 24.11713991, 92.38081147,
       19.44866875,  2.10384791, 17.77765052, 94.33500946, 57.06509849,
       37.50441655, 42.19646629, 28.8061077 , 42.91863863, 93.55575378,
       66.59180632, 27.2308221 , 41.91205834, 89.03503405, 88.87278237,
       52.72326015, 15.57159771, 50.91458841,  8.4902401 , 36.95324076,
       88.82564159, 96.51000906, 80.1539158 , 78.74931717, 76.25491601,
       76.01929758, 62.85859496, 96.5729857 , 79.45755034, 78.66996353,
       37.51151193, 99.81088539, 73.63636849, 36.23865421, 39.48540064,
       45.45466222, 86.90757491, 94.41621087, 91.87585709, 89.78520379,
       80.61654071, 42.07645755, 59.97318139, 35.27424356, 49.64907671,
       26.63484785, 91.15112016, 19.63506579, 72.02637601, 39.20606337,
       72.31302711, 34.90636143, 13.55795801,  3.30996463, 61.12145459,
       30.94188487, 54.99676034, 44.56465863, 37.13378467, 35.22999223,
       11.08183268, 45.54136539,  8.50933843, 36.27143933, 98.59950208,
       72.63164858, 41.30463172, 92.41530064, 14.2245062 , 56.34473561,
       18.42627319, 47.48291374, 11.45578682, 53.42868769, 87.70256512,
       49.36060463, 43.86623026, 63.17947792, 19.16548537, 58.4098948 ,
       52.05142786, 25.68820071, 22.77075955, 72.47754799, 27.38876017,
        7.73153499, 80.37892032, 61.4101522 , 88.19321216, 47.31443277,
       64.69843637, 36.50417357, 95.68786919, 65.17930268,  5.94823397,
       87.91588794, 46.52366642, 57.10038193, 43.34157046, 17.23626242,
       81.42261827, 81.08362721, 96.54015602, 91.89264173,  8.17085809,
       22.30047092,  3.51263704, 82.58799504, 44.17756931, 49.03670293,
       45.59397425, 38.7757892 , 49.72514472, 86.71160728,  3.09532628,
       75.18604018, 41.80628671,  1.31925938,  9.47312168, 63.42620095,
       77.83984507, 86.47610296, 49.76685706, 86.44399281, 79.36136457,
       99.26582662, 35.65017194, 10.4148151 , 41.81922555, 35.24018967,
       27.63249831, 89.7314332 , 53.7271281 , 66.44743149, 46.65989264,
       83.09219406, 20.95905803, 78.33629732, 58.8113602 , 20.71700307,
       20.55954971, 34.69486514, 36.07157365, 98.8290266 ,  9.6198746 ,
        2.21647966, 31.24852751, 20.14853857, 61.15182207, 98.74852984,
       17.73642026, 47.90792699, 31.63354711, 78.63584307, 24.08909793,
       96.63450179,  2.62701756, 68.47793884, 42.04143509, 53.85107008,
       91.02014516, 87.72918151, 15.04680969, 82.80152719, 56.07131848,
       67.34327597, 87.00139527, 23.84033402, 13.11174014, 83.06231376,
       69.61866141, 46.60844898, 67.02360489, 98.73585652, 85.32688839,
       50.55646595, 32.02369753, 18.68109808, 17.45481088, 52.51782104,
       47.82058825, 30.69895291, 33.91968644, 20.70519713, 81.71775537,
       37.59339596, 49.44751666, 67.21852644, 17.83903222, 27.926769  ,
       99.76577173, 36.3024776 , 63.67048151, 14.94559037, 75.07227572,
       38.4623121 ,  2.21827887, 82.16985733, 20.72171479, 92.50781992,
       91.11616956, 22.07317653, 24.72575642, 29.21450864, 94.82974999,
       22.80654441, 29.65790742, 72.18617051, 47.15604034, 70.15282493,
       40.34369456, 97.34980378, 73.9285516 , 24.15602239, 98.6016038 ,
        9.20707069, 25.7843669 , 92.34728299, 19.35223274, 21.56506708,
       71.28173569, 51.63505129, 36.48649633,  1.09887556, 96.38590846,
       54.21655249, 77.66252031, 96.8601617 , 65.48353892, 69.04338782,
       39.68538539, 52.70966755, 27.23853104,  8.81274377, 41.49236951,
       17.72158365, 18.0052154 ,  6.65391055, 66.39882247, 10.32044012,
       91.84289307, 92.94052139,  8.5076872 , 60.89843275, 29.57878576,
       62.67654997, 51.5607382 , 10.26100398, 41.30549158, 20.21747646,
       85.25438815, 54.44612237,  8.75591783, 51.89599917, 19.93921895,
       24.910282  , 58.10610611, 49.08597459, 21.76939468, 55.46560484,
       12.16839238, 92.36227934, 63.29049844, 81.30470193, 69.69641388,
       79.21776417, 75.95450069, 20.54034081, 50.60464058, 94.77640148,
       79.99352725, 92.51769719, 83.57728371, 79.16093682, 54.92401047,
       53.91813249, 75.69150458, 92.57270498, 97.86534763, 11.89210767,
       12.70326533, 45.02524165, 75.29781925, 72.58994493, 94.04880173,
       53.5179063 , 70.80894811, 51.96702282, 27.14870992, 38.06902371,
       64.98787448, 27.97084775, 28.72458466, 47.01968788, 47.07169011,
       77.13435546, 10.41172888,  7.51016106, 96.42446667, 92.57961454,
       69.19414635, 53.16678076, 95.67843975, 99.57223531, 98.36128846,
       77.82062359, 48.39574247, 97.20390824, 58.50894154, 82.71574492,
       80.35398837, 39.53277994, 26.8528867 , 46.34777034,  9.28451896,
       51.47548221, 83.97057869, 78.90385912, 60.29317369, 44.46632678,
       55.77435054, 49.59173399,  8.92023312,  8.70621926, 20.14758964,
       17.45442054, 24.4484629 , 72.07557452, 41.88068424, 54.94888244,
       88.12187761, 83.03655575, 88.33205162, 87.32734493, 95.74432036,
       95.49665506, 15.41651684, 13.22302507, 22.96647776, 12.75690762,
       15.59322568, 20.72608369, 98.8014652 ,  5.56124797, 21.27730959,
       94.8923773 , 49.09195729, 50.69146208, 95.75054501, 32.23748098,
       61.78105547, 74.42866204, 44.60750424, 70.28726881, 37.87347769,
       96.36437787, 53.03431648, 70.34854022, 65.30927501, 40.20655964,
       52.367275  , 54.98897802, 90.62466835, 74.19859275, 73.83712758,
        6.3776617 , 99.35495744, 83.17413724, 82.89288036, 65.33971718,
       18.69777922,  1.12009711, 20.50994092, 18.99377118,  4.7570901 ,
        1.40153949,  7.13560113, 57.5691155 , 10.05846442, 80.59941308,
       63.05901655, 53.79592136, 89.48122408, 80.00520235, 36.48487371,
       59.8756316 , 47.63446621, 95.39656454, 11.68155696, 21.04785126,
       14.61178503, 98.8716364 , 61.13895307, 83.7776197 , 25.97262513,
       20.59385947, 13.40712086,  9.97678321, 48.77227956, 92.83413302,
       92.73264903, 16.72218713,  7.30768249, 87.03525895, 60.87272973,
       71.88347321, 78.36768158, 28.26050255, 83.31518649,  8.9828825 ,
       10.54261874, 74.25358303, 75.62977844,  3.21592321, 78.06140247,
       90.52320003, 13.4649091 , 34.29892203, 18.1534966 , 16.49640756,
       62.85908743, 56.02935894, 57.71009441, 38.30384032, 57.46439874,
       45.89603911, 56.70861668, 69.09824726, 86.4724885 , 70.20122875,
       96.03308623, 25.60683978, 14.50160663, 65.83580979, 42.1385606 ,
       83.57457524, 85.19770285, 49.78485732, 27.22971489, 35.16415168,
        9.94475936, 80.16460216, 24.07017385, 98.49885367, 97.55656603,
       48.6503321 , 10.67605414, 25.93247717,  8.14836584, 72.19779409,
       17.14390543, 61.16969508, 40.36208006, 75.97755437, 69.45892271,
       49.47865043,  2.06130219, 18.52234491, 12.63273563, 48.49821509,
       61.5451089 , 54.12067382, 94.68560451, 67.98928947, 43.83771694,
        2.26128669, 88.1982343 , 43.4989934 , 41.938715  , 80.82211751,
       20.84214254, 76.62706483, 13.75016708, 81.73562148, 80.31359235,
        8.10100752, 93.47907434, 52.62321178, 71.34267483, 24.25560867,
       16.71799323, 20.00799921, 28.70500229, 19.89848236, 98.79170946,
       87.11211846, 74.673097  ,  6.45261397, 74.98799596, 43.76790414,
       88.36383333, 80.97807686, 31.48473364, 72.55621245, 65.10797414,
       59.2772592 , 92.89170754, 37.90177243, 15.22730884, 69.43837028,
       28.31635409, 55.26941708, 86.02542501,  8.66861851, 92.27375001,
       84.40736889, 60.51357326, 12.14846627, 68.06189189, 19.09337597,
       41.24157684, 88.37390569, 21.38718886, 82.66107553,  4.37440074,
       53.6586605 , 76.05908941, 49.84309221, 23.53153717, 89.6807629 ,
       96.41535672, 61.80201466, 66.29126102, 62.88627365, 26.41681619,
       56.64166163,  7.46682107, 31.69800256, 28.23614864, 41.08475558,
       40.50546475, 14.8300949 , 41.59708451, 94.77974227, 89.35362202,
       74.61861743, 73.01819211, 12.59715035, 75.52743891, 58.65331562,
       47.56751216, 96.60251089, 77.3401342 , 86.37652201, 63.10552396,
       48.19305113, 57.34430789, 90.92512995, 18.72148384, 30.48884695,
       39.51702665, 36.91825051, 19.38173327, 13.21758973, 38.02091207,
       60.84063691, 15.63194884, 50.82678495, 21.12070096, 24.86304597,
       87.8863482 , 17.56212688, 68.89260054, 57.49351352, 32.55461117,
       59.59619711, 60.03997905, 81.5947465 , 50.3054635 , 48.76755716,
       34.24797635, 75.09908362, 26.71305041, 64.93013031, 28.89983087,
       32.48794563, 72.96024017,  5.40641091, 71.74617368, 54.08710056,
       22.23196008, 80.10274642, 96.58415823, 46.72988324, 90.21245983,
       98.77319778, 14.65943832, 58.83862854, 66.433874  , 47.53044272,
       23.48998315, 47.53004515, 15.25839566, 52.45497106,  9.87249158,
       72.73262239, 67.36709935, 37.61270904, 20.25319922, 13.20399325,
        9.47559135, 10.17416752, 16.56773421, 74.47478628, 59.36120862,
       44.47052785, 58.81937255, 52.89197543, 32.0220641 , 31.05178017,
       91.53627179, 22.85829219, 36.79833637, 97.72586242, 62.54108267])

Math Operations in columns

In [67]:
df_exams['math score'].sum()

np.int64(66089)

In [68]:
df_exams['math score'].count()

np.int64(1000)

In [69]:
df_exams['math score'].mean()

np.float64(66.089)

In [70]:
df_exams['math score'].std()

15.163080096009468

In [71]:
df_exams['math score'].median()

66.0

In [72]:
df_exams['math score'].mode()

0    65
Name: math score, dtype: int64

Math operations in rows

In [73]:
df_exams['math score'] + df_exams['writing score'] + df_exams['reading score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [74]:
 df_exams['average'] = (df_exams['math score'] + df_exams['writing score'] + df_exams['reading score'])/3

In [76]:
df_exams.round(2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,17,72.67
1,female,group C,some college,standard,completed,69,90,88,7,82.33
2,female,group B,master's degree,standard,none,90,95,93,31,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,27,49.33
4,male,group C,some college,standard,none,76,78,75,18,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,86,94.00
996,male,group C,high school,free/reduced,none,62,55,55,50,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,51,65.00
998,female,group D,some college,standard,completed,68,78,77,72,74.33
999,female,group D,some college,free/reduced,none,77,86,86,90,83.00

Value counts - Counting the occurence of a specific category

In [77]:
df_exams['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [78]:
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [79]:
#relative frequency and rounding to 2 decimals
df_exams['parental level of education'].value_counts(normalize = True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

Sorting a dataframe

Sorting by one column

In [81]:
df_exams.sort_values(by='math score')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
59,female,group C,some high school,free/reduced,none,0,17,10,96,9.000000
980,female,group B,high school,free/reduced,none,8,24,23,27,18.333333
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.000000
787,female,group B,some college,standard,none,19,38,32,64,29.666667
145,female,group C,some college,free/reduced,none,22,39,33,18,31.333333
...,...,...,...,...,...,...,...,...,...,...
623,male,group A,some college,standard,completed,100,96,86,39,94.000000
625,male,group D,some college,standard,completed,100,97,99,35,98.666667
962,female,group E,associate's degree,standard,none,100,100,100,6,100.000000
458,female,group E,bachelor's degree,standard,none,100,100,100,15,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,9,100.000000

In [82]:
df_exams.sort_values(by='math score',ascending = False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
451,female,group E,some college,standard,none,100,92,97,68,96.333333
458,female,group E,bachelor's degree,standard,none,100,100,100,15,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,6,100.000000
149,male,group E,associate's degree,free/reduced,completed,100,100,93,99,97.666667
623,male,group A,some college,standard,completed,100,96,86,39,94.000000
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,18,31.333333
787,female,group B,some college,standard,none,19,38,32,64,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,27,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,96,9.000000

In [83]:
df_exams.sort_values(['math score','reading score'],ascending = False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
149,male,group E,associate's degree,free/reduced,completed,100,100,93,99,97.666667
458,female,group E,bachelor's degree,standard,none,100,100,100,15,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,9,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,6,100.000000
625,male,group D,some college,standard,completed,100,97,99,35,98.666667
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,18,31.333333
787,female,group B,some college,standard,none,19,38,32,64,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,27,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,96,9.000000

In [84]:
 df_exams.sort_values(['math score','reading score'],ascending = False,inplace=True)

In [85]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
149,male,group E,associate's degree,free/reduced,completed,100,100,93,99,97.666667
458,female,group E,bachelor's degree,standard,none,100,100,100,15,100.000000
916,male,group E,bachelor's degree,standard,completed,100,100,100,9,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,6,100.000000
625,male,group D,some college,standard,completed,100,97,99,35,98.666667
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,18,31.333333
787,female,group B,some college,standard,none,19,38,32,64,29.666667
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.000000
980,female,group B,high school,free/reduced,none,8,24,23,27,18.333333
59,female,group C,some high school,free/reduced,none,0,17,10,96,9.000000

Sorting based on Texts

In [86]:
df_exams.sort_values('race/ethnicity',ascending= True)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
741,female,group A,associate's degree,free/reduced,none,37,57,56,61,50.000000
151,male,group A,bachelor's degree,standard,none,77,67,68,54,70.666667
811,male,group A,high school,free/reduced,none,45,47,49,51,47.000000
112,male,group A,associate's degree,standard,none,54,53,47,72,51.333333
25,male,group A,master's degree,free/reduced,none,73,74,72,4,73.000000
...,...,...,...,...,...,...,...,...,...,...
751,male,group E,some college,standard,none,68,72,65,6,68.333333
915,female,group E,some college,standard,none,68,70,66,92,68.000000
592,male,group E,bachelor's degree,standard,none,68,68,64,11,66.666667
479,male,group E,associate's degree,standard,none,76,71,67,34,71.333333
517,female,group E,some college,standard,completed,66,74,73,35,71.000000

In [87]:
df_exams.sort_values('race/ethnicity',ascending= True,key=lambda col:col.str.lower())

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
741,female,group A,associate's degree,free/reduced,none,37,57,56,61,50.000000
151,male,group A,bachelor's degree,standard,none,77,67,68,54,70.666667
811,male,group A,high school,free/reduced,none,45,47,49,51,47.000000
112,male,group A,associate's degree,standard,none,54,53,47,72,51.333333
25,male,group A,master's degree,free/reduced,none,73,74,72,4,73.000000
...,...,...,...,...,...,...,...,...,...,...
751,male,group E,some college,standard,none,68,72,65,6,68.333333
915,female,group E,some college,standard,none,68,70,66,92,68.000000
592,male,group E,bachelor's degree,standard,none,68,68,64,11,66.666667
479,male,group E,associate's degree,standard,none,76,71,67,34,71.333333
517,female,group E,some college,standard,completed,66,74,73,35,71.000000